<div class="modal fade" id="agendaModal" tabindex="-1" aria-labelledby="agendaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="agendaModalLabel">Adicionar Agenda</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id = "resultado_agenda"></span>
        <form id="form_add_agenda" method="POST" action="./addAgenda" >

            {# Input oculto que era definir se o model irá editar ou adicionar #}
            <input type="hidden" id="agenda_id" name="agenda_id">

            <div class="row">
                <div class="col-3">
                    <label for="cliente_id" class="form-label">ID Cliente</label>
                    <input type="number" class="form-control" id="cliente_id" name="cliente_id" required>
                </div>
                <div class="col-9">
                    <label for="nome_completo_cliente" class="form-label">Nome Cliente</label>
                    <input type="text" class="form-control" id="nome_completo_cliente" name="nome_completo_cliente" autocomplete="off" required>
                    <ul class="list-group position-absolute" id="usuario_clientes" style="z-index: 1000;">
                    
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="data_inicial" class="form-label">Data de Inicio</label>
                    <input type="datetime-local" class="form-control" id="data_inicial" name="data_inicial" required>
                </div>
                <div class="col">
                    <label for="data_final" class="form-label">Data de Encerramento</label>
                    <input type="datetime-local" class="form-control" id="data_final" name="data_final" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea type="text" class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
                </div>
            </div>
            <div class="row border-top mt-2 pt-2">
                <div class="col">
                    <button type="submit" id="btn-agenda-submit" class="btn btn-primary">Adicionar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>