{% extends 'layout.twig' %}

{% block title %}Início{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card mb-3 align-self-center" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="./img/home.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Scheduler</h5>
                        <p class="card-text">Nosso aplicativo foi feito para facilitar o seu dia a dia. Com ele, você faz login de forma segura, cadastra seus clientes com poucos cliques e gerencia sua agenda de atendimentos com total controle e agilidade. Tudo em um só lugar, para você focar no que realmente importa: oferecer um ótimo serviço.</p>
                        {# <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
